/*
0-480px: Small Phones 
480 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop


1em = 16px
*/
/*
COLORS:
*/

.u-center-text {
  text-align: center !important;
}

.u-short-text {
  width: 70vw !important;
}

.u-margin-bottom-small {
  margin-bottom: 2rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}

.u-margin-top-small {
  margin-top: 2rem !important;
}

.u-margin-top-medium {
  margin-top: 4rem !important;
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

.u-margin-top-huge {
  margin-top: 10rem !important;
}

.u-margin-down {
  margin-bottom: -0.5rem !important;
}

.u-grayscale {
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.u-shadow {
  box-shadow: 0.5rem 3rem 6rem 0rem rgba(39, 49, 155, 0.1);
}

.u-floatX {
  animation: floatX infinite 5s ease-in-out;
  -webkit-animation: floatX infinite 5s ease-in-out;
  animation-fill-mode: forwards;
}

.u-floatY,
.u-spinY {
  transform-box: fill-box;
  transform-origin: center;
  animation-fill-mode: forwards;
}

.u-floatY {
  animation: floatY infinite 5s ease-in-out;
  animation-fill-mode: forwards;
  -webkit-animation: floatY infinite 5s ease-in-out;
}

.u-spin {
  transform-origin: center;
  animation: spin-2 infinite 5s ease-in-out;
  animation-fill-mode: forwards;
  -webkit-animation: spin-2 infinite 5s ease-in-out;
}

.u-spinY {
  animation: spinY infinite 2s;
  -webkit-animation: spinY infinite 2s;
}

.u-delay {
  animation-delay: -2s;
}

.brand {
  display: flex;
  align-items: center;
  justify-content: center;
}
.brand__item {
  position: relative;
}
@media only screen and (max-width: 37.5em) {
  .brand__item {
    width: 90% !important;
    margin: 0 auto;
  }
}
.brand__wrapper {
  height: 5rem;
  margin: 1rem 1.5rem;
}
@media only screen and (max-width: 37.5em) {
  .brand__wrapper {
    margin: 1rem;
  }
}
.brand__img {
  transition: transform 1s ease-out;
  border: 2px solid #f1f6ff;
  height: 100%;
}

#logo-w:hover .logo-w1 {
  fill: #a6b2c7;
}

#logo-w:hover .logo-w2 {
  stroke: #a6b2c7;
}

#logo-w .logo-w1 {
  fill: #ffffff;
}

#logo-w .logo-w2 {
  fill: none;
  stroke: #ffffff;
  stroke-width: 18;
  stroke-miterlimit: 10;
}

.arrow {
  fill: none;
  stroke: #000000;
  stroke-width: 5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  transform-origin: center;
  -webkit-animation: dig-left 1s linear infinite;
  animation: dig-left 1s linear infinite;
}

.svg__outer {
  width: 6.5rem;
  position: absolute;
}
@media only screen and (max-width: 75em) {
  .svg__outer {
    width: 0;
  }
}
.svg__outer .blob {
  fill: transparent;
}
.svg__outer .outer-logo {
  fill: #2c3acf;
}
.svg__outer .outer-logo-2 {
  fill: #ffffff;
}

#spotlight {
  fill: #f5faff;
}

#svg__hero .st0 {
  fill: #23c479;
}

#svg__hero .branch {
  fill: none;
  stroke: #3a3e42;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

#svg__hero .vase {
  fill: none;
  stroke: #23c479;
  stroke-width: 3;
  stroke-miterlimit: 10;
}

#svg__hero .st3 {
  fill: #f95860;
}

#svg__hero .cloud {
  fill: rgba(227, 235, 252, 0.8);
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

#svg__hero .logo-bg,
#svg__hero .st5 {
  fill: #2c3acf;
}

#svg__hero .st6 {
  display: none;
  fill: #2c3acf;
}

#svg__hero .st7 {
  fill: none;
  stroke: #23c479;
  stroke-miterlimit: 10;
}

#svg__hero .st8 {
  fill: none;
  stroke: #2c3acf;
  stroke-width: 2;
  stroke-miterlimit: 10;
}

#svg__hero .st9 {
  fill: none;
  stroke: #3a3e42;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

#svg__hero .device {
  fill: #9fb9ff;
}

#svg__hero .st11 {
  fill: #f9f1e8;
}

#svg__hero .st12 {
  fill: none;
  stroke: #23c479;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

#svg__hero .st13 {
  fill: #f4f4f4;
  stroke: #3a3e42;
  stroke-width: 3;
  stroke-miterlimit: 10;
}

#svg__hero .st14 {
  fill: #ebebeb;
}

#svg__hero .st15 {
  fill: #ffffff;
  stroke: #3a3e42;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

#svg__hero .logo-line,
#svg__hero .st16 {
  fill: #ffffff;
}

#svg__hero .st17 {
  fill: #3a3e42;
}

#svg__hero .st18 {
  fill: #ffffff;
  stroke: #3a3e42;
  stroke-width: 3;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

#svg__hero .st19 {
  fill: #ffffff;
  stroke: #3a3e42;
  stroke-width: 1.5;
  stroke-linecap: round;
  stroke-linejoin: round;
}

#svg__hero .st20 {
  fill: #ffffff;
  stroke: #2c3acf;
  stroke-width: 1.5;
  stroke-linecap: round;
  stroke-linejoin: round;
}

#svg__hero .st21 {
  fill: #f4f4f4;
  stroke: #3a3e42;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

#svg__hero .st22 {
  fill: none;
  stroke: #4051cc;
  stroke-width: 3;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

#svg__hero .st5,
#svg__hero .st16 {
  transform-origin: center;
  animation: float 5s linear infinite;
}

#svg__hero .cloud {
  transform-box: fill-box;
  transform-origin: center;
  animation: float 5s linear infinite, spin infinite 15s linear;
  animation-fill-mode: forwards;
  -webkit-animation: float 5s linear infinite, spin infinite 15s linear;
}

#svg__hero .st7 {
  stroke: #23c479;
  -webkit-animation: flash 2.5s ease-in-out infinite;
  animation: flash 2.5s ease-in-out infinite;
}

#svg__hero .st8 {
  stroke-dasharray: 0;
  stroke-dashoffset: 0;
  -webkit-animation: dash 2s linear infinite;
  animation: dash 2s linear infinite;
}

#svg__hero #plant-1,
#svg__hero #plant-2 {
  transform-box: fill-box;
  transform-origin: 50% 80%;
  -webkit-animation: bloom 7s ease-out infinite;
  animation: bloom 7s ease-out infinite;
}

#svg__outage .outage0 {
  fill: #f1f6ff;
}

#svg__outage .outage1 {
  fill: #6bcec9;
}

#svg__outage .outage2 {
  fill: #6bcad0;
}

#svg__outage .outage3 {
  fill: #2c3acf;
}

#svg__outage .outage4 {
  fill: #ffffff;
}

#svg__outage .outage5 {
  fill: #8298a8;
}

#svg__outage .outage6,
#svg__outage .outage-tick {
  fill: #2c52cf;
}

#svg__outage .outage7 {
  fill: #313450;
}

#svg__outage .outage8 {
  fill: #a6b2c7;
}

#svg__outage .outage9 {
  fill: #fcb81f;
}

#svg__outage #drop {
  -webkit-animation: float 1s linear infinite;
  animation: float 1s linear infinite;
}

#svg__outage #mouth {
  transform-origin: center;
  transform-box: fill-box;
  transform: scale(0.2);
  -webkit-transform: scale(0.2);
  -moz-transform: scale(0.2);
  -ms-transform: scale(0.2);
  -o-transform: scale(0.2);
}

#svg__outage #slash {
  -webkit-animation: sparkle 1s ease-in-out infinite;
  animation: sparkle 1s ease-in-out infinite;
  transform-origin: center;
}

#svg__mining .mining0 {
  fill: #c1d7e8;
}

#svg__mining .mining1 {
  fill: #a2d0fa;
}

#svg__mining .mining2 {
  fill: #eef0f7;
}

#svg__mining .mining3 {
  fill: #2c3acf;
}

#svg__mining .mining4 {
  fill: #ffffff;
}

#svg__mining .mining5 {
  fill: #3a3e42;
}

#svg__mining .mining6 {
  fill: #4051cc;
}

#svg__mining .mining7 {
  fill: #f4f4f4;
}

#svg__mining .mining8 {
  fill: #a6b2c7;
}

#svg__mining #top {
  -webkit-animation: dig-left 2s linear infinite;
  animation: dig-left 2s linear infinite;
}

#svg__mining #man-large {
  -webkit-animation: rotate-left 2s ease-in-out infinite;
  animation: rotate-left 2s ease-in-out infinite;
  transform: translate(-2px, 5px);
  transform-origin: 90% 95%;
  -webkit-transform: translate(-2px, 5px);
  -moz-transform: translate(-2px, 5px);
  -ms-transform: translate(-2px, 5px);
  -o-transform: translate(-2px, 5px);
}

#svg__mining #coin-m {
  transform: translate(-2px, 5px);
}

#svg__mining #coins path {
  -webkit-animation: sparkle 3.5s ease-in-out infinite;
  animation: sparkle 3.5s ease-in-out infinite;
}

#svg__monitor .monitor0 {
  display: none;
}

#svg__monitor .monitor1 {
  display: inline;
}

#svg__monitor .monitor2 {
  fill: #3d52bc;
}

#svg__monitor .monitor3 {
  fill: #6bcad0;
}

#svg__monitor .monitor4 {
  fill: #2c3acf;
}

#svg__monitor .monitor5 {
  fill: #ffffff;
}

#svg__monitor .monitor6 {
  fill: #a6b2c7;
}

#svg__monitor .monitor7 {
  fill: #3a3e42;
}

#svg__monitor .monitor8 {
  fill: #f4f4f4;
}

#svg__monitor .monitor9 {
  fill: #4051cc;
}

#svg__monitor .monitor10 {
  opacity: 0.28;
  enable-background: new;
}

#svg__monitor .monitor11 {
  fill: #68b9fc;
}

#svg__monitor #monitor-top {
  transform-origin: 0% 80%;
  transform-box: fill-box;
  -webkit-animation: monitor 3s linear infinite;
  animation: monitor 3s linear infinite;
}

#svg__monitor #glass,
#svg__monitor #glass-small {
  transform-origin: 70% 50%;
  transform-box: fill-box;
  -webkit-animation: glass 6.1s ease-in-out infinite;
  animation: glass 6.1s ease-in-out infinite;
}

#svg__monitor #glass-small {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.svg-divider {
  position: absolute;
  width: 100%;
  margin: 0;
  left: 0;
  right: 0;
}
.svg-divider--1 {
  height: 2rem;
  top: -2rem;
  fill: #fff;
}
@media only screen and (max-width: 37.5em) {
  .svg-divider--1 {
    height: 0;
    top: 0;
  }
}
.svg-divider--2 {
  height: 6rem;
  top: -6rem;
  fill: #f1f6ff;
}
@media only screen and (max-width: 37.5em) {
  .svg-divider--2 {
    height: 2rem;
    top: -2rem;
  }
}
.svg-divider--3 {
  height: 6rem;
  top: -6rem;
  fill: #fff;
}
@media only screen and (max-width: 37.5em) {
  .svg-divider--3 {
    height: 2rem;
    top: -2rem;
  }
}
.svg-divider--footer {
  height: 3.5rem;
  bottom: -3.3rem;
  fill: #fff;
}
@media only screen and (max-width: 37.5em) {
  .svg-divider--footer {
    height: 1.2rem;
    bottom: -1rem;
  }
}

.header__spotlight,
.header__back,
.header__fore,
.header__display {
  position: absolute;
  z-index: 2;
}
.header__around {
  z-index: 2;
}
@media only screen and (max-width: 75em) {
  .header__spotlight,
  .header__back,
  .header__fore,
  .header__around,
  .header__display {
    right: 0;
  }
}
@media only screen and (max-width: 56.25em) {
  .header__spotlight,
  .header__back,
  .header__fore,
  .header__around,
  .header__display {
    height: auto;
    bottom: auto;
    margin: 0 auto;
    position: static;
  }
}
@media only screen and (max-width: 56.25em) {
  .header__around .header__spotlight,
  .header__around .header__fore,
  .header__around .header__back {
    display: none;
  }
}
.header__around #huobi {
  width: 4rem;
  left: -6rem;
  bottom: 3rem;
  opacity: 0.9;
}
.header__around #harmony {
  width: 2.5rem;
  right: 5rem;
  top: 0;
}
.header__around #uniswap {
  width: 3.5rem;
  right: 2rem;
  bottom: 18rem;
  opacity: 0.9;
}
.header__around #trust {
  width: 4.5rem;
  right: 14rem;
  top: 3rem;
}
.header__around #math {
  left: -4rem;
  top: 12rem;
  width: 5rem;
}
.header__around #bitfinex {
  width: 3.5rem;
  right: 40rem;
  top: -6rem;
}
@media only screen and (max-width: 75em) {
  .header__around #bitfinex {
    right: 20vw;
    top: 0;
  }
}
.header__around #coinbase {
  width: 1.5rem;
  left: 5rem;
  bottom: 20rem;
}
.header__around #gateio {
  width: 2.5rem;
  left: 8rem;
  top: -1rem;
}
.header__around #gemini {
  width: 3rem;
  right: -4rem;
  bottom: 8rem;
}
@media only screen and (max-width: 75em) {
  .header__around #gemini {
    right: -6rem;
  }
}
.header__around #balancer {
  width: 5rem;
  left: 10rem;
  bottom: -16rem;
}
.header__around #balancer,
.header__around #gemini,
.header__around #harmony,
.header__around #coinbase,
.header__around #gateio,
.header__around #bitfinex {
  opacity: 0.2;
}
.header__around #spotlight {
  fill: #f7faff;
}
.header__spotlight {
  opacity: 0.7;
  bottom: 0;
  right: 6rem;
}
@media only screen and (max-width: 75em) {
  .header__spotlight {
    right: 1rem;
  }
}
